Repository anandaroop/portfolio22: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,md,html,css}": "prettier --write",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"]
}

build: src dir
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
Due: prettier --write, eslint --fix

build: add tailwind
  package.json
  postcss.config.js
  styles/globals.css
  tailwind.config.js
  yarn.lock
Due: prettier --write

chore: convert homepage to tailwind
  src/pages/index.tsx
Due: prettier --write, eslint --fix

chore: prune
  src/pages/index.tsx
  styles/Home.module.css
  styles/globals.css
Due: prettier --write, eslint --fix

build: add build + deploy scripts
  .gitignore
  package.json
  src/scripts/deploy.sh
  yarn.lock
Due: none

style: container
  src/pages/_app.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

build: add absolute and aliased imports
  src/components/Footer.tsx
  src/components/Header.tsx
  src/pages/_app.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

build: vs code ts version
  .vscode/settings.json
Due: none

refactor: styles --> src/styles
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix

docs: readme
  README.md
Due: prettier --write

build: set .nvmrc version
  .nvmrc
Due: none

feat: dark mode 🌓
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

build: disable prop linter
  .eslintrc.json
Due: none

build: disable next/image linter
  .eslintrc.json
Due: none

build: add graphql server
  package.json
  yarn.lock
Due: none

feat: fetch project data from graphql
  data.json
  src/lib/fetchData.ts
  src/pages/index.tsx
  src/types.ts
Due: prettier --write, eslint --fix

feat: rough in Project pages
  src/components/ProjectList.tsx
  src/components/ProjectSummary.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/projects/[id].tsx
Due: prettier --write, eslint --fix

chore(data): clean up escaping
  data.json
Due: none

style: tweak header/footer
  src/components/Footer.tsx
  src/components/Header.tsx
Due: prettier --write, eslint --fix

build: trailingSlash export
  next.config.js
Due: prettier --write

build: add tailwind linter
  package.json
  yarn.lock
Due: none

chore: lint tailwind styles
  src/components/Header.tsx
  src/components/ProjectSummary.tsx
  src/pages/_app.tsx
  src/pages/projects/[id].tsx
Due: prettier --write, eslint --fix

build: add slugify
  package.json
  yarn.lock
Due: none

style: add hairline rule below header
  src/components/Header.tsx
Due: prettier --write, eslint --fix

style: tweaks
  src/components/Header.tsx
  src/components/ProjectSummary.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

feat: add slug lib
  src/lib/slugs.ts
Due: prettier --write, eslint --fix

feat: lazy load imgs on project page
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

style: tweaks for header, summaries, debugging
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/ProjectSummary.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

build: turn off tailwind color chips
  .vscode/settings.json
Due: none

feat: convert project pages to slugs
  src/components/ProjectSummary.tsx
  src/lib/slugs.ts
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

docs: update readme
  README.md
Due: prettier --write

feat: enable prose styling on project page
  package.json
  src/pages/projects/[id].tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix

feat: lazy images (and transitions & debug delays)
  package.json
  src/components/ProjectSummary.tsx
  yarn.lock
Due: prettier --write, eslint --fix

style: tweaks for dark mode etc
  package.json
  src/components/ProjectSummary.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix

style: more debugger helpers
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

docs: refresh & add interesting things
  README.md
Due: prettier --write

refactor: extract debugging flags
  src/components/ProjectSummary.tsx
  src/lib/debug.ts
  src/pages/_app.tsx
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

chore: fuss over imports
  src/components/ProjectList.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

build: add photoswipe, as esm import
  next.config.js
  package.json
  yarn.lock
Due: prettier --write

feat: add lightbox for slides
  src/components/project/SlideShow.tsx
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix
