Repository anandaroop/portfolio22: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: preserve scroll on back navigation
  next.config.js
Due: prettier --write

style: switch from flex to grid
  src/components/ProjectList.tsx
  src/components/ProjectSummary.tsx
Due: prettier --write, eslint --fix

fix: hydration error caused by invalid nesting
  README.md
  src/components/project/SlideShow.tsx
Due: prettier --write, eslint --fix

fix: caption overflow
  src/components/project/SlideShow.tsx
Due: prettier --write, eslint --fix

build: add sharp
  package.json
  yarn.lock
Due: none

build: add ts-node
  package.json
  tsconfig.json
  yarn.lock
Due: none

feat: add image processing
  .gitignore
  data.json
  package.json
  src/components/ProjectSummary.tsx
  src/components/project/SlideShow.tsx
  src/lib/debug.ts
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
  src/scripts/process-images.ts
  src/types.ts
Due: prettier --write, eslint --fix

docs: refresh
  README.md
Due: prettier --write

style: footer and add email
  src/components/Email.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

style: header
  src/components/Header.tsx
Due: prettier --write, eslint --fix

feat: restore video clips
  data.json
  src/components/project/VimeoClips.tsx
  src/pages/projects/[slug].tsx
  src/styles/globals.css
  src/types.ts
Due: prettier --write, eslint --fix

refactor: cleaner vimeo
  data.json
  src/components/project/VimeoClips.tsx
  src/pages/projects/[slug].tsx
  src/types.ts
Due: prettier --write, eslint --fix

feat: simplify project list
  src/pages/index.tsx
Due: prettier --write, eslint --fix

feat: maybe memo (need to benchmark)
  src/components/ProjectList.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

build(devx): highlight states
  src/styles/globals.css
Due: prettier --write

feat: header ui for search
  src/components/Header.tsx
Due: prettier --write, eslint --fix

fix: lighthouse lang problem
  next.config.js
Due: prettier --write

docs: learnings about dialog element
  docs/# Dialog.md
Due: prettier --write

feat: rough in dialog plumbing
  src/components/Header.tsx
  src/components/search/index.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

feat: add Cmd-K hotkey to enter search mode
  src/components/search/index.tsx
Due: prettier --write, eslint --fix

feat: add scroll lock
  src/components/search/index.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

refactor: search dialog code
  src/components/Header.tsx
  src/components/search/SearchContext.tsx
  src/components/search/SearchModal.tsx
  src/components/search/index.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

feat: rough in dumb regex based search results
  data.json
  src/components/search/SearchContext.tsx
  src/components/search/SearchModal.tsx
  src/types.ts
Due: prettier --write, eslint --fix

fix: i18n does not work with static exports?
  next.config.js
Due: prettier --write

docs: add learnings
  README.md
Due: prettier --write

feat: add a janky "search engine"
  src/components/search/JankySearch.tsx
  src/components/search/SearchModal.tsx
  src/pages/_app.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix

feat: add zero state for search
  src/components/search/engine.ts
Due: prettier --write, eslint --fix

feat: generate searchable content
  package.json
  searchable-content.json
  src/scripts/generate-searchable-content.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: new /data dir
  data/data.json
  data/searchable-content.json
  package.json
  src/components/search/JankySearch.tsx
  src/scripts/generate-searchable-content.ts
  src/scripts/process-images.ts
Due: prettier --write, eslint --fix

feat: convert search engine to MiniSearch
  package.json
  src/components/search/JankySearch.tsx
  src/components/search/SearchModal.tsx
  src/components/search/engine.ts
  yarn.lock
Due: prettier --write, eslint --fix

style: responsive search modal
  src/components/search/SearchModal.tsx
Due: prettier --write, eslint --fix

feat: select search text on enter
  src/components/search/SearchModal.tsx
Due: prettier --write, eslint --fix

feat: explicit dismiss search
  src/components/search/SearchModal.tsx
Due: prettier --write, eslint --fix

style: responsive search modal
  src/components/search/SearchModal.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix

fix: document title tags
  src/pages/clients/[slug].tsx
  src/pages/tags/[slug].tsx
Due: prettier --write, eslint --fix

chore: gql everywhere
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

feat: add Tag page
  src/components/search/SearchModal.tsx
  src/pages/tags/[slug].tsx
Due: prettier --write, eslint --fix

fix: tweak search cta
  src/components/Header.tsx
  src/components/search/SearchModal.tsx
Due: prettier --write, eslint --fix

feat: add Client page
  data/data.json
  data/searchable-content.json
  src/components/search/SearchModal.tsx
  src/lib/slugs.ts
  src/pages/clients/[slug].tsx
  src/types.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,md,html,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
