Repository anandaroop/portfolio22: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,md,html,css}": "prettier --write",
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"]
}

fix: order of projects within client and tag
  src/pages/clients/[slug].tsx
  src/pages/tags/[slug].tsx
Due: prettier --write, eslint --fix

build: add verbose script output
  src/scripts/generate-searchable-content.ts
  src/scripts/process-images.ts
Due: prettier --write, eslint --fix

fix: header spacing
  src/components/Header.tsx
Due: prettier --write, eslint --fix

feat(content): add Princeton Eternal Feast
  data/data.json
  data/searchable-content.json
  public/slides/388/orig/Eternal Feast Map 1v5.jpg
  public/slides/389/orig/Eternal Feast Map 2v5.jpg
  public/slides/390/orig/Eternal Feast Map 3v5.jpg
Due: none

fix(content): add urls
  data/data.json
Due: none

perf: memoize search results in modal
  src/components/search/SearchModal.tsx
Due: prettier --write, eslint --fix

fix: unnecessary memo
  src/components/project-list/ProjectList.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

docs: refresh
  README.md
Due: prettier --write

feat: open graph meta
  public/og-image.jpg
  src/components/project/ProjectView.tsx
  src/pages/_app.tsx
  src/pages/clients/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

feat: add /clients landing page
  src/pages/clients/index.tsx
Due: prettier --write, eslint --fix

refactor: lodash imports
  src/pages/clients/[slug].tsx
  src/pages/portfolio/tags/[name].tsx
  src/pages/tags/[slug].tsx
  src/scripts/generate-searchable-content.ts
Due: prettier --write, eslint --fix

feat: redirect from /projects to /
  src/pages/projects/index.tsx
Due: prettier --write, eslint --fix

docs: fix omission
  README.md
Due: prettier --write

chore: Jan 2023 updates
  data/data.json
  data/searchable-content.json
Due: none

build: google site verification
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

fix: 404 when navigation to old /portfolio route
  package.json
Due: none

chore(asdf): .tool-versions
  .tool-versions
Due: none
