Repository anandaroop/portfolio22: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: dark mode tweaks
  package.json
  src/components/Header.tsx
Due: prettier --write, eslint --fix

feat: link from project to client
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

feat: redirect requests from old portfolio urls to new ones
  src/pages/portfolio/client/[id].tsx
  src/pages/portfolio/project/[id].tsx
  src/pages/portfolio/tags/[name].tsx
Due: prettier --write, eslint --fix

build: update deploy script for new server
  src/scripts/deploy.sh
Due: none

refactor: move project list files
  src/components/project-list/ProjectList.tsx
  src/components/project-list/ProjectSummary.tsx
  src/pages/clients/[slug].tsx
  src/pages/index.tsx
  src/pages/tags/[slug].tsx
Due: prettier --write, eslint --fix

docs: refresh
  docs/Dialog.md
  docs/Ocean.md
Due: prettier --write

style: responsive search cta
  src/components/Header.tsx
Due: prettier --write, eslint --fix

fix: type/lint warnings
  src/pages/_app.tsx
  src/pages/clients/[slug].tsx
  src/pages/tags/[slug].tsx
  src/scripts/generate-searchable-content.ts
  src/types.ts
Due: prettier --write, eslint --fix

docs: refresh
  README.md
  docs/Notes.md
Due: prettier --write

feat: add clarity analytics
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

fix: detect dialog support
  src/components/Header.tsx
  src/components/search/SearchContext.tsx
  src/components/search/SearchModal.tsx
Due: prettier --write, eslint --fix

feat(content): add Art of Impermanence
  data/data.json
  data/searchable-content.json
  package.json
  public/slides/376/orig/Art of Impermanence Map v5.jpg
Due: none

feat(content): add Dia Sites & Locations
  data/data.json
  data/searchable-content.json
  public/slides/377/orig/Dia Map v5 Final w Bleed.jpg
Due: none

feat(content): add Frick Bruges
  data/data.json
  data/searchable-content.json
  public/slides/378/orig/Bruges Map v9 Final.jpg
Due: none

feat(content): add Getty Maya codex
  data/data.json
  data/searchable-content.json
  public/slides/379/orig/Codice Map v3 Final3.jpg
Due: none

feat(content): add PMA Storied Stone
  data/data.json
  data/searchable-content.json
  public/slides/380/orig/Map 2 - Southern India v6 Final.jpg
  public/slides/381/orig/Map 3 - Madurai v5 Final.jpg
Due: none

feat: tag new projects
  data/data.json
  data/searchable-content.json
  src/scripts/generate-searchable-content.ts
Due: prettier --write, eslint --fix

docs: content
  README.md
  package.json
Due: prettier --write

refactor: switch from related to embedded tags
  data/data.json
  data/searchable-content.json
  src/pages/portfolio/tags/[name].tsx
  src/pages/tags/[slug].tsx
  src/scripts/embed-tags.ts
  src/scripts/generate-searchable-content.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat(content): add Colmar, Alticalsa 22
  data/data.json
  data/searchable-content.json
  public/slides/382/orig/Europe v4 Final.jpg
  public/slides/383/orig/Map 00 2022 v5-01.jpg
Due: none

fix: opacity flash
  src/components/project-list/ProjectSummary.tsx
Due: prettier --write, eslint --fix

refactor: overwrite data.json
  src/scripts/process-images.ts
Due: prettier --write, eslint --fix

feat: display subtitles
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

feat(aspect): restore square option to slide show
  src/components/project/SlideShow.tsx
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

build(aspect): old-school aspect ratio plugin
  docs/Notes.md
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write

chore: remove one-off tags script
  src/scripts/embed-tags.ts
Due: prettier --write, eslint --fix

build: improve devx with conncurrently
  README.md
  package.json
  src/scripts/generate-searchable-content.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: ensure rgb images
  .gitignore
  src/components/project/SlideShow.tsx
  src/scripts/process-images.ts
Due: prettier --write, eslint --fix

fix: copy
  data/data.json
  data/searchable-content.json
Due: none

refactor(aspect): project summary
  src/components/project-list/ProjectSummary.tsx
Due: prettier --write, eslint --fix

feat: add zoom cursor
  src/components/project/SlideShow.tsx
Due: prettier --write, eslint --fix

feat: add favicon
  public/favicon.ico
  public/favicon.png
  public/vercel.svg
  src/assets/favicon.ai
  src/pages/_app.tsx
  src/pages/clients/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
  src/pages/tags/[slug].tsx
Due: prettier --write, eslint --fix

chore: trim data.json
  data/data.json
Due: none

feat: standalone search page
  src/components/Header.tsx
  src/components/search/SearchModal.tsx
  src/components/search/engine.ts
  src/pages/search.tsx
Due: prettier --write, eslint --fix

fix: lighthouse a11y issues
  data/data.json
  data/searchable-content.json
  src/components/project-list/ProjectSummary.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

refactor(aspect): all others
  src/components/project/SlideShow.tsx
  src/components/project/VimeoClips.tsx
  src/components/search/SearchModal.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix

refactor: extract project view
  src/components/project/ProjectView.tsx
  src/pages/projects/[slug].tsx
Due: prettier --write, eslint --fix

feat(content): add MFAH bestowing beauty
  data/data.json
  data/searchable-content.json
  public/slides/384/orig/Eurasia Map v2b Final w Bleed.jpg
Due: none

feat(content): add Met Diamond Mountains
  data/data.json
  data/searchable-content.json
  public/slides/385/orig/1 Korea Overall v8 Final.jpg
  public/slides/386/orig/2 Jeong Seon Route Map v7.jpg
  public/slides/387/orig/3 Big Route v6 Final.jpg
Due: none

fix: sort order of slides within project
  src/components/project/ProjectView.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,md,html,css}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
